<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= err.status %>
    </title>
    <meta name="description" content="<%= err.message %>">
    <meta name="author" content="t@wse.nyc">
    <link rel='stylesheet' href='/css/error.css' />
    <style type="text/css">
        html {
            background: #ffffff url('/img/<%= err.status %>.jpg') no-repeat fixed center center;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="code">
        <%= msg.status %>
    </div>

    <div class="msg">
        <%= msg.message %>
    </div>

    <div class="note">
        <%= msg.note %>
    </div>

    <div class="debug">
        <%= msg.debug %>
    </div>

</body>
</html>